asgiref
Django
Django>=4.0
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary # For PostgreSQL
python-dotenv
# sweatfitai/requirements.txt
google-auth
openai
requests